# To merge datasets on atmosphere

- author : Sylvie Dagoret-Campagne
- date   : April 26th 2018
- affiliation : LAL/IN2P3/CNRS

In [1]:
import os,sys
import pandas as pd
import numpy as np

In [2]:
path='datasets_2017'

In [3]:
files=['MERRA2_2017_inst1_2d_asm_Nx_M2I1NXASM_ctio_AllYear.csv',
       'MERRA2_2017_tavg1_2d_aer_Nx_M2T1NXAER_ctio_AllYear.csv',
       'MERRA2_2017_tavg1_2d_rad_Nx_M2T1NXRAD_ctio_AllYear.csv']

In [15]:
output_file='MERRA2_2017_M2I1NXASM_M2T1NXAER_M2T1NXRAD_ctio_AllYear.csv'

# Read independant dataset

In [4]:
df1=pd.read_csv(os.path.join(path,files[0]))
df2=pd.read_csv(os.path.join(path,files[1]))
df3=pd.read_csv(os.path.join(path,files[2]))

# Specify which column is the index

- the index is the time

In [5]:
df1.set_index("time",inplace=True)
df1.head()

                          ozone            ps       pwv
time
2017-04-30 00:00:00  260.352051  78636.914062  2.822547
2017-04-30 01:00:00  261.006653  78649.085938  2.668410
2017-04-30 02:00:00  261.566254  78661.726562  2.609197
2017-04-30 03:00:00  262.164581  78667.523438  2.579537
2017-04-30 04:00:00  263.143188  78669.828125  2.517037

In [6]:
df2.set_index("time",inplace=True)
df2.head()

                     TOTANGSTR  TOTEXTTAU  TOTSCATAU
time
2017-04-30 00:30:00   1.307469   0.029347   0.027696
2017-04-30 01:30:00   1.303434   0.028410   0.026786
2017-04-30 02:30:00   1.304926   0.028079   0.026460
2017-04-30 03:30:00   1.308593   0.027700   0.026087
2017-04-30 04:30:00   1.309659   0.026854   0.025264

In [7]:
df3.set_index("time",inplace=True)
df3.head()

                     TAUHGH  TAULOW  TAUMID  TAUTOT
time
2017-04-30 00:30:00     0.0     0.0     0.0     0.0
2017-04-30 01:30:00     0.0     0.0     0.0     0.0
2017-04-30 02:30:00     0.0     0.0     0.0     0.0
2017-04-30 03:30:00     0.0     0.0     0.0     0.0
2017-04-30 04:30:00     0.0     0.0     0.0     0.0

# concatenate in vertical the 2 first dataset and reorder by index

In [8]:
df12=pd.concat([df1,df2]).sort_index()
df12

,TOTANGSTR,TOTEXTTAU,TOTSCATAU,ozone,ps,pwv
time,,,,,,
2017-04-30 00:00:00,NaN,NaN,NaN,260.352051,78636.914062,2.822547
2017-04-30 00:30:00,1.307469,0.029347,0.027696,NaN,NaN,NaN
2017-04-30 01:00:00,NaN,NaN,NaN,261.006653,78649.085938,2.668410
2017-04-30 01:30:00,1.303434,0.028410,0.026786,NaN,NaN,NaN
2017-04-30 02:00:00,NaN,NaN,NaN,261.566254,78661.726562,2.609197
2017-04-30 02:30:00,1.304926,0.028079,0.026460,NaN,NaN,NaN
2017-04-30 03:00:00,NaN,NaN,NaN,262.164581,78667.523438,2.579537
2017-04-30 03:30:00,1.308593,0.027700,0.026087,NaN,NaN,NaN
2017-04-30 04:00:00,NaN,NaN,NaN,263.143188,78669.828125,2.517037
2017-04-30 04:30:00,1.309659,0.026854,0.025264,NaN,NaN,NaN
2017-04-30 05:00:00,NaN,NaN,NaN,264.033966,78661.929688,2.423533
2017-04-30 05:30:00,1.307645,0.025729,0.024166,NaN,NaN,NaN
2017-04-30 06:00:00,NaN,NaN,NaN,264.783264,78644.843750,2.317495
2017-04-30 06:30:00,1.302834,0.024541,0.023015,NaN,NaN,NaN
2017-04-30 07:00:00,NaN,NaN,NaN,265.426025,78617.156250,2.216904
2017-04-30 07:30:00,1.295496,0.023270,0.021781,NaN,NaN,NaN
2017-04-30 08:00:00,NaN,NaN,NaN,266.163208,78591.515625,2.111483
2017-04-30 08:30:00,1.287027,0.021840,0.020394,NaN,NaN,NaN
2017-04-30 09:00:00,NaN,NaN,NaN,267.036926,78573.429688,1.996691
2017-04-30 09:30:00,1.279223,0.020349,0.018945,NaN,NaN,NaN
2017-04-30 10:00:00,NaN,NaN,NaN,267.678223,78571.312500,1.945912
2017-04-30 10:30:00,1.275088,0.019052,0.017686,NaN,NaN,NaN
2017-04-30 11:00:00,NaN,NaN,NaN,268.366425,78588.414062,1.918895
2017-04-30 11:30:00,1.275504,0.018185,0.016844,NaN,NaN,NaN
2017-04-30 12:00:00,NaN,NaN,NaN,268.510437,78619.218750,1.935192
2017-04-30 12:30:00,1.283667,0.017939,0.016601,NaN,NaN,NaN
2017-04-30 13:00:00,NaN,NaN,NaN,269.163635,78654.632812,1.998366
2017-04-30 13:30:00,1.298913,0.018108,0.016763,NaN,NaN,NaN
2017-04-30 14:00:00,NaN,NaN,NaN,269.457977,78678.843750,2.110613
2017-04-30 14:30:00,1.311838,0.018537,0.017180,NaN,NaN,NaN
...,...,...,...,...,...,...
2017-06-29 09:00:00,NaN,NaN,NaN,298.574799,78681.546875,1.191292
2017-06-29 09:30:00,1.490029,0.010528,0.009365,NaN,NaN,NaN
2017-06-29 10:00:00,NaN,NaN,NaN,296.535217,78702.250000,1.152435
2017-06-29 10:30:00,1.498404,0.010130,0.008995,NaN,NaN,NaN
2017-06-29 11:00:00,NaN,NaN,NaN,294.616791,78743.406250,1.137758
2017-06-29 11:30:00,1.501797,0.009805,0.008684,NaN,NaN,NaN
2017-06-29 12:00:00,NaN,NaN,NaN,292.612976,78790.125000,1.106233
2017-06-29 12:30:00,1.501541,0.009532,0.008428,NaN,NaN,NaN
2017-06-29 13:00:00,NaN,NaN,NaN,291.617126,78837.687500,1.090577
2017-06-29 13:30:00,1.492685,0.009854,0.008755,NaN,NaN,NaN
2017-06-29 14:00:00,NaN,NaN,NaN,290.522888,78884.718750,1.153771
2017-06-29 14:30:00,1.462165,0.010949,0.009841,NaN,NaN,NaN
2017-06-29 15:00:00,NaN,NaN,NaN,289.300385,78909.007812,1.260004
2017-06-29 15:30:00,1.283009,0.018129,0.016603,NaN,NaN,NaN
2017-06-29 16:00:00,NaN,NaN,NaN,288.974335,78896.382812,1.427986
2017-06-29 16:30:00,1.294308,0.018901,0.017416,NaN,NaN,NaN
2017-06-29 17:00:00,NaN,NaN,NaN,288.786591,78851.085938,1.689911
2017-06-29 17:30:00,1.316557,0.018392,0.016962,NaN,NaN,NaN
2017-06-29 18:00:00,NaN,NaN,NaN,289.314392,78803.718750,1.979488
2017-06-29 18:30:00,1.257735,0.023261,0.021525,NaN,NaN,NaN
2017-06-29 19:00:00,NaN,NaN,NaN,289.857269,78770.343750,2.211512
2017-06-29 19:30:00,1.287579,0.020632,0.018978,NaN,NaN,NaN
2017-06-29 20:00:00,NaN,NaN,NaN,290.882294,78755.859375,2.335595
2017-06-29 20:30:00,1.298976,0.018698,0.017122,NaN,NaN,NaN
2017-06-29 21:00:00,NaN,NaN,NaN,291.693359,78749.757812,2.311728
2017-06-29 21:30:00,1.310938,0.016889,0.015369,NaN,NaN,NaN
2017-06-29 22:00:00,NaN,NaN,NaN,292.041626,78744.734375,2.171442
2017-06-29 22:30:00,1.315543,0.015818,0.014349,NaN,NaN,NaN
2017-06-29 23:00:00,NaN,NaN,NaN,291.015198,78758.210938,1.987216
2017-06-29 23:30:00,1.326281,0.015239,0.013790,NaN,NaN,NaN

In [9]:
df123=pd.concat([df12,df3], axis=1).sort_index()

In [14]:
#df=df123.reindex_axis(['ps','pwv','ozone',
#                    'TOTEXTTAU','TOTANGSTR','TOTSCATAU',
#                    'TAUTOT','TAUHGH','TAUMID','TAULOW'], axis=1)
df=df123.reindex(['ps','pwv','ozone',
                  'TOTEXTTAU','TOTANGSTR','TOTSCATAU',
                  'TAUTOT','TAUHGH','TAUMID','TAULOW'], axis=1)
df

,ps,pwv,ozone,TOTEXTTAU,TOTANGSTR,TOTSCATAU,TAUTOT,TAUHGH,TAUMID,TAULOW
2017-04-30 00:00:00,78636.914062,2.822547,260.352051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 00:30:00,NaN,NaN,NaN,0.029347,1.307469,0.027696,0.000000,0.000000,0.000000,0.0
2017-04-30 01:00:00,78649.085938,2.668410,261.006653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 01:30:00,NaN,NaN,NaN,0.028410,1.303434,0.026786,0.000000,0.000000,0.000000,0.0
2017-04-30 02:00:00,78661.726562,2.609197,261.566254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 02:30:00,NaN,NaN,NaN,0.028079,1.304926,0.026460,0.000000,0.000000,0.000000,0.0
2017-04-30 03:00:00,78667.523438,2.579537,262.164581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 03:30:00,NaN,NaN,NaN,0.027700,1.308593,0.026087,0.000000,0.000000,0.000000,0.0
2017-04-30 04:00:00,78669.828125,2.517037,263.143188,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 04:30:00,NaN,NaN,NaN,0.026854,1.309659,0.025264,0.000000,0.000000,0.000000,0.0
2017-04-30 05:00:00,78661.929688,2.423533,264.033966,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 05:30:00,NaN,NaN,NaN,0.025729,1.307645,0.024166,0.000000,0.000000,0.000000,0.0
2017-04-30 06:00:00,78644.843750,2.317495,264.783264,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 06:30:00,NaN,NaN,NaN,0.024541,1.302834,0.023015,0.000000,0.000000,0.000000,0.0
2017-04-30 07:00:00,78617.156250,2.216904,265.426025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 07:30:00,NaN,NaN,NaN,0.023270,1.295496,0.021781,0.000000,0.000000,0.000000,0.0
2017-04-30 08:00:00,78591.515625,2.111483,266.163208,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 08:30:00,NaN,NaN,NaN,0.021840,1.287027,0.020394,0.000000,0.000000,0.000000,0.0
2017-04-30 09:00:00,78573.429688,1.996691,267.036926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 09:30:00,NaN,NaN,NaN,0.020349,1.279223,0.018945,0.000000,0.000000,0.000000,0.0
2017-04-30 10:00:00,78571.312500,1.945912,267.678223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 10:30:00,NaN,NaN,NaN,0.019052,1.275088,0.017686,0.000000,0.000000,0.000000,0.0
2017-04-30 11:00:00,78588.414062,1.918895,268.366425,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 11:30:00,NaN,NaN,NaN,0.018185,1.275504,0.016844,0.000000,0.000000,0.000000,0.0
2017-04-30 12:00:00,78619.218750,1.935192,268.510437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 12:30:00,NaN,NaN,NaN,0.017939,1.283667,0.016601,0.000000,0.000000,0.000000,0.0
2017-04-30 13:00:00,78654.632812,1.998366,269.163635,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 13:30:00,NaN,NaN,NaN,0.018108,1.298913,0.016763,0.000000,0.000000,0.000000,0.0
2017-04-30 14:00:00,78678.843750,2.110613,269.457977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30 14:30:00,NaN,NaN,NaN,0.018537,1.311838,0.017180,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
2017-06-29 09:00:00,78681.546875,1.191292,298.574799,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 09:30:00,NaN,NaN,NaN,0.010528,1.490029,0.009365,0.000000,0.000000,0.000000,0.0
2017-06-29 10:00:00,78702.250000,1.152435,296.535217,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 10:30:00,NaN,NaN,NaN,0.010130,1.498404,0.008995,0.000000,0.000000,0.000000,0.0
2017-06-29 11:00:00,78743.406250,1.137758,294.616791,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 11:30:00,NaN,NaN,NaN,0.009805,1.501797,0.008684,0.000000,0.000000,0.000000,0.0
2017-06-29 12:00:00,78790.125000,1.106233,292.612976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 12:30:00,NaN,NaN,NaN,0.009532,1.501541,0.008428,0.002232,0.002232,0.000000,0.0
2017-06-29 13:00:00,78837.687500,1.090577,291.617126,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 13:30:00,NaN,NaN,NaN,0.009854,1.492685,0.008755,0.080780,0.080780,0.000000,0.0
2017-06-29 14:00:00,78884.718750,1.153771,290.522888,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 14:30:00,NaN,NaN,NaN,0.010949,1.462165,0.009841,0.606690,0.606689,0.000000,0.0
2017-06-29 15:00:00,78909.007812,1.260004,289.300385,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 15:30:00,NaN,NaN,NaN,0.018129,1.283009,0.016603,1.159180,1.159180,0.000000,0.0
2017-06-29 16:00:00,78896.382812,1.427986,288.974335,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 16:30:00,NaN,NaN,NaN,0.018901,1.294308,0.017416,1.787598,1.783203,0.004338,0.0
2017-06-29 17:00:00,78851.085938,1.689911,288.786591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 17:30:00,NaN,NaN,NaN,0.018392,1.316557,0.016962,1.916506,1.797363,0.118836,0.0
2017-06-29 18:00:00,78803.718750,1.979488,289.314392,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 18:30:00,NaN,NaN,NaN,0.023261,1.257735,0.021525,1.312989,1.295898,0.017029,0.0
2017-06-29 19:00:00,78770.343750,2.211512,289.857269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 19:30:00,NaN,NaN,NaN,0.020632,1.287579,0.018978,0.823731,0.819092,0.004746,0.0
2017-06-29 20:00:00,78755.859375,2.335595,290.882294,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 20:30:00,NaN,NaN,NaN,0.018698,1.298976,0.017122,0.318237,0.318237,0.000000,0.0
2017-06-29 21:00:00,78749.757812,2.311728,291.693359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 21:30:00,NaN,NaN,NaN,0.016889,1.310938,0.015369,0.009041,0.009041,0.000000,0.0
2017-06-29 22:00:00,78744.734375,2.171442,292.041626,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 22:30:00,NaN,NaN,NaN,0.015818,1.315543,0.014349,0.000000,0.000000,0.000000,0.0
2017-06-29 23:00:00,78758.210938,1.987216,291.015198,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-29 23:30:00,NaN,NaN,NaN,0.015239,1.326281,0.013790,0.000000,0.000000,0.000000,0.0

In [ ]:
df.to_csv("")